
#a{font-family: 'Do Hyeon', sans-serif; font-size: 155%;}
#nav{font-family: 'Black Han Sans', sans-serif;font-size: 200%;}
#company{
    font-family: 'Jua', sans-serif;
    font-size: 200%;
}
a{
    text-decoration: none;
    color: black;
}